{% extends "base.html" %}
{% load static %}
{% block title %} Корзина {% endblock %}
{% block content %}
<div class="main_page">
  <div class="row">
  {% if request.session.cart|length < 1 %}
  <div class="index_title">
    <p> Ваша корзина пустая </p>
    <p> <a href="{% url "shop:catalog" %}" class="nav__link"> Посмотреть товар </a> </p>
  </div>
  {% else %}
    <div class="index_title">
      Ваш товар в корзине:
    </div>
    {% for item in cart %}
      {% with product=item.product %}
      <div class="column">
        <img src="{{ product.image.url }}" class="border">
        <p> <b> Название: </b> {{ product.name }} </p>
        <p> <b>Количество товара в корзине: </b>{{ item.quantity }} </p>
        <p>
          <a href="{% url "shop:cart_update" item.product.id %}" class="nav__link">Добавить</a>
          <a href="{% url "shop:cart_remove" item.product.id %}" class="nav__link">Удалить</a>
        </p>
        <div class="header__inner">
          <p> Цена товара: {{ item.price }} </p>
          <p>
            {% if  item.quantity == 1 %}
              Цена за {{item.quantity}} свечу: {{ item.total_price }} 
            {% elif  item.quantity <= 4 %}
              Цена за {{item.quantity}} свечи: {{ item.total_price }}
            {% elif item.quantity >= 5%}
              Цена за {{item.quantity}} свечей: {{ item.total_price }}
            {%endif%}
          </p>
        </div>
      </div>
      {% endwith %}
    {% endfor %}
  </div>
</div>
<div class="total_cart">
  <p> Итоговая цена: {{ cart.get_total_price }} рублей </p>
  <a href="{% url "shop:order" %}" class="text"> Оформить заказ </a>
  <a href="{% url "shop:catalog" %}" class="text"> Вернуться в каталог </a>
</div>
{% endif %}
{% endblock %}