{%load static%}
<header class="header">
    <div class="header__inner">
      <div class="header__logo">
        <a href="/"> 
          <img src="{% static 'img/logotip.png' %}" alt=""> 
        </a>
      </div>
      <nav class="nav">
        <a class="nav__link" href ="/"> Главная страница </a> 
        <a class="nav__link" href ={% url 'shop:about_us'%}> О нас </a>
        <a class="nav__link" href = {% url 'shop:catalog'%}> Каталог </a>
        <a class="nav__link" href = {% url 'shop:cart_detail'%}> Корзина </a>
      </nav>
  </div>
</header>
