{% load static %}
{% if product.has_other_pages %}
<div class="pagination">
  <nav aria-label="Page navigation" class="my-5">
    <div class="text">
    {% if product.has_previous %}
        <a class="text" href="?page={{ product.previous_page_number }}">
          Предыдущая страница
        </a>
      </li>
    {% endif %}
    {% if product.has_next %}
        <a class="text" href="?page={{ product.next_page_number }}">
          Следующая страница
        </a>
      </li>
    {% endif %}    
    </div>
  </nav>
</div>
{% endif %}
