{% extends "base.html" %}
{%load static%}
{% block title %} Войти {% endblock %}
{% block content %}
<form method="post">
  {% csrf_token %}
  <div class="login_title">
    <div class="login">
        <br>{{form.username.label}}
        <br>{{form.username}}
        {% if form.username.errors %}
          <br>{{ form.username.errors }}
        {% endif %}
        <br>{{form.password.label}}
        <br>{{form.password}}
        {% if form.password.errors %}
        <br>{{ form.password.errors }}
      {% endif %}
    {% comment %} {% if form.errors %}
      <div class="alert alert-primary" role="alert">
        Неверный логин или пароль!
      </div>
    {% endif %} {% endcomment %}
    <br><p> <button type="submit" class="button">
      Войти
    </button> </p>
    <p class="reset_pass"> Забыли пароль? </p>
    </div>
  </div>
</form>
{% endblock %}