{% extends 'base.html' %}
{%load static%}
{% block title %} Заказ {% endblock %}
{%block content%}
<div class="index_page">
  <div class="block1">
    <br>Имя аккаунта: {{user.username}}
    <br>Количество заказов пользователя {{user.orders_count}}
    

  </div>
  <div class="block2">
    {% if user.email == request.user.email%}
      <div class="order_border">
        <center> <h3> История заказов: </h3> </center>
        {% for order in order%}
          <br> Заказ номер: <a href="{{ order.get_absolute_url }}"> {{order.id}}</a> | статус заказа: {{order.order_status}}
        {% endfor %}

      </div>
    {% endif %}
  </div>
</div>

{% endblock %}